<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <p-button label="New" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
        <p-button severity="secondary" label="Delete" icon="pi pi-trash" outlined (onClick)="deleteSelectedBrands()" [disabled]="!selectedBrands || !selectedBrands.length" />
    </ng-template>

    <ng-template #end>
        <p-button label="Export" icon="pi pi-upload" severity="secondary" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="brandList"
    [rows]="10"
    [columns]="cols"
    [loading]="loading"
    [globalFilterFields]="['name', 'description']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedBrands"
    [rowHover]="true"
    dataKey="productBrandId"
    paginator="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} brands"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]">
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">{{'PRODUCT_BRANDS' | translate}}</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th>{{'IMAGE' | translate}}</th>
            <th pSortableColumn="name">
                {{'NAME'| translate}}
                <p-sortIcon field="name" />
            </th>
            <th pSortableColumn="description">
                {{'DESCRIPTION'| translate}}
                <p-sortIcon field="description" />
            </th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template #body let-brand>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="brand" />
            </td>
            <td>
                <img class="rounded w-full"
                    [src]="getCatImageSrc(brand)"
                    [alt]="brand.name"
                    style="width: 80px; object-fit: cover;" />
            </td>
            <td>
                {{ brand.name }}
            </td>
            <td>
                {{ brand.description }}
            </td>
            <td>
                <p-button icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" (click)="editBrand(brand)" />
                <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteBrand(brand)" />
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="brandDialog" [style]="{ width: '450px' }" [header]="dialogHeader" [modal]="true">
    <form [formGroup]="brandForm" (ngSubmit)="onSaveBrand()">
        <div class="flex items-center gap-4 mb-4">
            <label for="name" class="font-semibold w-24">{{'NAME' | translate }}</label>
            <input formControlName="name" pInputText id="name" class="flex-auto" autocomplete="off" />
        </div>
        <div class="flex items-center gap-4 mb-6">
            <label for="description" class="font-semibold w-24">{{'DESCRIPTION' | translate }}</label>
            <input formControlName="description" pInputText id="description" class="flex-auto" autocomplete="off" />
        </div>
        <div class="flex items-center gap-4 mb-8">
            <label for="catImage" class="font-semibold w-24">{{'IMAGE' | translate }}</label>
            <p-fileupload mode="basic" chooseLabel="Choose" chooseIcon="pi pi-upload" name="catImage" accept="image/*" maxFileSize="1000000" (onSelect)="onSelectImage($event)" />
        </div>
        <div class="flex justify-end gap-2">
            <p-button label="Cancel" severity="secondary" (click)="brandDialog = false" />
            <p-button label="Save" [loading]="saveLoading" type="submit" />
        </div>
    </form>
</p-dialog>
<p-toast></p-toast>
<p-confirm-dialog />