/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

@font-face {
    font-family: 'Noto Sans';
    src: url('assets/fonts/NotoSansArabic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Sans', monospace;
}

.text-max-lines-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
            line-clamp: 2; 
    -webkit-box-orient: vertical;
}

.text-max-lines-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
            line-clamp: 1; 
    -webkit-box-orient: vertical;
}

.text-max-lines-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.card, .p-card, .layout-sidebar, .p-datatable {
    border: 1px solid var(--p-datatable-border-color);
}

.layout-topbar {
    border-bottom: 1px solid var(--surface-border);
}

.app-configurator {
    margin-left: 10rem;
}