<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <div class="flex items-center gap-2">
            <p-button
                [label]="'ADD' | translate"
                icon="pi pi-plus"
                severity="secondary"
                class="mr-2" />

            <p-button
                severity="secondary"
                [label]="'DELETE' | translate"
                icon="pi pi-trash"
                outlined
                (onClick)="deleteSelectedSales()"
                [disabled]="!selectedSales || !selectedSales.length" />
        </div>
    </ng-template>

    <ng-template #end>
        <p-button
            [label]="'EXPORT' | translate"
            icon="pi pi-upload"
            [loading]="loading"
            (onClick)="exportAllReceipts()"
            severity="secondary" />
    </ng-template>
</p-toolbar>

<p-message
    class="mb-2"
    icon="pi pi-lightbulb"
    severity="info"
    closable>
    {{ 'RECEIPT_SCAN_DETAILS_HINT' | translate }}
</p-message>

<p-table
    [value]="salesList"
    [rows]="pageReq.size"
    [loading]="loading"
    [rowHover]="true"
    dataKey="saleId"
    [(selection)]="selectedSales"
    [tableStyle]="{ 'min-width': '75rem' }">

    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">{{ 'SALE_HISTORY' | translate }}</h5>

            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input
                    pInputText
                    type="text"
                    [(ngModel)]="searchKeyword"
                    (input)="onSearchChange()"
                    [placeholder]="'SEARCH_PACEHOLDER' | translate" />
            </p-iconfield>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th>{{ 'BARCODE' | translate }}</th>
            <th>{{ 'DATE' | translate }}</th>
            <th>{{ 'CUSTOMER' | translate }}</th>
            <th>{{ 'GRAND_TOTAL' | translate }}</th>
            <th>{{ 'RECEIPT_DISCOUNT' | translate }}</th>
            <th>{{ 'DELIVERY_SERVICE' | translate }}</th>
            <th>{{ 'SALE_RETURN_STATUS' | translate }}</th>
            <th>{{ 'SOLD_BY' | translate }}</th>
            <th>{{ 'OPTIONS' | translate }}</th>
        </tr>
    </ng-template>

    <ng-template #body let-sale>
        <tr>
            <td>
                <p-tableCheckbox [value]="sale" />
            </td>

            <td>
                <a
                    [routerLink]="['/sales/detail', sale.saleId]"
                    class="text-primary">
                    {{ sale.barcode }}
                </a>
            </td>

            <td>{{ sale.createdAt | dateFt:'long' }}</td>

            <td>
                {{ sale.customer?.fullName }}
                <div *ngIf="!sale.customer" class="text-muted-color">
                    {{ 'NOT_REGISTERED_CUSTOMER' | translate }}
                </div>
            </td>

            <td>{{ sale.grandTotal | sCurrency }}</td>

            <td>
                <span *ngIf="sale.discount; else noDiscount">
                    {{ sale.discount | sCurrency }}
                </span>
                <ng-template #noDiscount>
                    <span class="text-muted-color">{{ 'NO_EXIST' | translate }}</span>
                </ng-template>
            </td>

            <td>
                <span *ngIf="sale.deliveryAmount; else noDilevery">
                    {{ sale.deliveryAmount | sCurrency }}
                </span>
                <ng-template #noDilevery>
                    <span class="text-muted-color">{{ 'NO_EXIST' | translate }}</span>
                </ng-template>
            </td>

            <td>
                <div *ngIf="sale.totallyReturned" class="text-red-500">
                    {{ 'SALE_TOTALLY_RETURNED' | translate }}
                </div>
                <div *ngIf="sale.partiallyReturned" class="text-orange-500">
                    {{ 'SALE_PARTIALLY_RETURNED' | translate }}
                </div>
                <div *ngIf="!sale.totallyReturned && !sale.partiallyReturned"
                     class="text-blue-500">
                    {{ 'SALE_HAS_NO_RETURNS' | translate }}
                </div>
            </td>

            <td>{{ sale.createdBy }}</td>

            <td>
                <p-menu #menu [popup]="true" appendTo="body" [model]="menuItems"></p-menu>
                <button
                    pButton
                    icon="pi pi-ellipsis-v"
                    class="p-button-text"
                    (click)="getMenuItems(sale); menu.toggle($event)">
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-paginator
    (onPageChange)="onPageChange($event)"
    [first]="pageReq.page * pageReq.size"
    [rows]="pageReq.size"
    [totalRecords]="pageDetails?.totalElements || 0"
    [rowsPerPageOptions]="[10, 20, 30]"
    [showCurrentPageReport]="true"
    [currentPageReportTemplate]="'TABLE_PAGE_RESULT' | translate">
</p-paginator>

<app-sale-receipt-preview
    [sale]="sale"
    [receiptOptions]="receiptOptions"
    [visible]="showReceiptPreview"
    (onHide)="showReceiptPreview = false">
</app-sale-receipt-preview>
