<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <div class="flex items-center gap-2">
            <p-button [label]="'ADD' | translate" icon="pi pi-plus" severity="secondary" class="mr-2" (onClick)="openNew()" />
            <p-button severity="secondary" [label]="'DELETE' | translate" icon="pi pi-trash" outlined [disabled]="!selectedCustomers || !selectedCustomers.length" />
        </div>
    </ng-template>

    <ng-template #end>
        <p-button [label]="'EXPORT' | translate" icon="pi pi-upload" severity="secondary" />
    </ng-template>
</p-toolbar>

<p-table
    #dt
    [value]="customerList"
    [rows]="10"
    [columns]="cols"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['phone', 'fullName']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedCustomers"
    [rowHover]="true"
    dataKey="customerId"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} customers"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]"
>
    <ng-template #caption>
        <div class="flex items-center justify-between">
            <h5 class="m-0">{{'CUSTOMERS'| translate}}</h5>
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" [placeholder]="'SEARCH_PACEHOLDER' | translate" />
            </p-iconfield>
        </div>
    </ng-template>
    <ng-template #header>
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox />
            </th>
            <th></th>
            <th pSortableColumn="phone">
                {{'PHONE'| translate}}
                <p-sortIcon field="phone" />
            </th>
            <th pSortableColumn="fullName">
                {{'NAME'| translate}}
                <p-sortIcon field="fullName" />
            </th>
            <th pSortableColumn="email">
                {{'EMAIL'| translate}}
                <p-sortIcon field="email" />
            </th>
            <th pSortableColumn="address">
                {{'ADDRESS'| translate}}
                <p-sortIcon field="address" />
            </th>
            <th pSortableColumn="country">
                {{'COUNTRY'| translate}}
                <p-sortIcon field="country" />
            </th>
            <th>
                {{ 'OPTIONS' | translate }}
            </th>
        </tr>
    </ng-template>
    <ng-template #body let-customer>
        <tr>
            <td style="width: 3rem">
                <p-tableCheckbox [value]="customer" />
            </td>
            <td>
                <p-avatar [label]="customer.fullName.toUpperCase()[0]"  />
            </td>
            <td>
                {{ customer.phone }}
            </td>
            <td>
                {{ customer.fullName }}
            </td>
            <td>
                {{ customer.email }}
            </td>
            <td>
                {{ customer.address }}
            </td>
            <td>
                {{ customer.country }}
            </td>
            <td>
                <div class="flex gap-2 items-center">
                    <p-button icon="pi pi-pencil" [pTooltip]="'EDIT' | translate" tooltipPosition="top" [rounded]="true" [outlined]="true" (onClick)="editCustomer(customer)" />
                    <p-button icon="pi pi-trash" [pTooltip]="'DELETE' | translate" tooltipPosition="top" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteCustomer(customer)" />
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>

<app-customer-create-dialog [customer]="customer" *ngIf="customerDialog" (visibleChange)="toggleDialog($event)">
</app-customer-create-dialog>

<p-toast></p-toast>
<p-confirmdialog [style]="{ width: '450px' }" />