<p-card [style]="{ minWidth: '40rem', position: 'relative'}">
    
    <div *ngIf="saleToEdit" class="mb-4 text-center">
        <p-message severity="warn">
            {{ 'EDIT_RECEIPT' | translate}} {{ saleToEdit.barcode }}
        </p-message>
    </div>

    <!-- CUSTOMER -->
    <div class="search-customers mb-8">
        <div class="flex justify-between">
            <div class="text-lg">{{'CUSTOMER_DETAILS' | translate }}</div>
            <!-- Notes Icon -->
            <div class="relative">
                <i
                    class="pi text-xl cursor-pointer"
                    [ngClass]="cart.notes ? 'pi-file-edit text-primary' : 'pi-file-plus text-surface-500'"
                    (click)="toggleNotes()">
                </i>

                <!-- Floating Notes Input -->
                <div *ngIf="showNotes"
                    class="absolute surface-card shadow-4 border border-round"
                    style="width: 25rem; z-index: 1000;"
                    (mouseleave)="showNotes = false">

                    <textarea
                        pInputTextarea
                        rows="5"
                        [(ngModel)]="cart.notes"
                        placeholder="{{ 'ADD_NOTE' | translate }}"
                        class="w-full p-2 border-round border-1 border-primary focus:border-primary">
                    </textarea>
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-2 mb-4">
            <p-autocomplete
                [style]="{width: '100%'}"
                [dropdown]="true"
                optionLabel="phone"
                [(ngModel)]="cart.customer"
                [suggestions]="customers"
                (completeMethod)="searchCustomers($event)">
                <ng-template let-item pTemplate="item">
                    <div class="flex gap-2 items-center">
                        <p-avatar [label]="item.fullName.toUpperCase()[0]" shape="circle" />
                        <div>{{ item.phone }}</div>
                        <span class="font-sm">{{ item.fullName }}</span>
                    </div>
                </ng-template>
            </p-autocomplete>
        </div>

        <p-button
            (onClick)="customerDialog = true"
            [style]="{width: '100%', border: '1px dashed'}"
            [label]="'ADD_CUSTOMER' | translate"
            icon="pi pi-plus"
            outlined="true" />
    </div>

    <div class="order-details">
        <div class="mb-4 text-lg flex justify-between">
            <span>{{'ORDER_DETAILS' | translate }}</span>
            <p-button *ngIf="cart.items?.length" severity="danger" [label]="'EMPTY_CART' | translate"
                icon="pi pi-shopping-cart" class="mr-2" [text]="true" (onClick)="cart.empty()" />
        </div>
        <div *ngIf="!cart.items || !cart.items.length" class="no-items text-center text-surface-600">
            {{'CART_EMPTY' | translate }}
        </div>
        <div class="order-items overflow-auto flex flex-col gap-2 mb-6" style="max-height: 20rem;">
            <div *ngFor="let item of cart.items" class="order-item flex gap-4 items-center justify-between">
                <img class="rounded w-full" [src]="getProductImageSrc(item.product!)"
                    [alt]="item.product!.basicDetails.productName"
                    style="width: 4rem; height: 4rem; object-fit: cover;" />
                <div class="flex items-center justify-between w-full">
                    <div class="flex flex-col">
                        <div style="width: 12rem;" class="mb-2 text-max-lines-1" tooltipPosition="top"
                            [pTooltip]="item.product?.basicDetails?.productName">
                            {{ item.product?.basicDetails?.productName }}
                        </div>
                        <span class="text-muted-color flex items-center gap-2">
                            {{ item.product?.priceDetails?.priceWithDiscount | sCurrency}}
                            <span *ngIf="item.product && item.product.priceDetails.priceWithDiscount < item.product.priceDetails.sellingPrice"
                            [pTooltip]="('DISCOUNT' | translate) + ' ' + getDiscountAmount(item.product)">
                                <i class="pi pi-tag text-orange-500"></i>
                            </span>
                        </span>
                    </div>
                    <div class="item-actions ml-1 mr-1">
                        <p-inputnumber [(ngModel)]="item.quantity" readonly="true" min="1"
                            [max]="item.product?.basicDetails?.quantity || 99" [showButtons]="true"
                            buttonLayout="horizontal" spinnerMode="horizontal" [inputStyle]="{ width: '3rem' }">
                            <ng-template #incrementbuttonicon>
                                <span class="w-full h-full flex items-center justify-center"
                                    (click)="increaseQty(item)">
                                    <span class="pi pi-plus"></span>
                                </span>
                            </ng-template>
                            <ng-template #decrementbuttonicon>
                                <span class="w-full h-full flex items-center justify-center"
                                    (click)="decreaseQty(item)">
                                    <span class="pi pi-minus"></span>
                                </span>
                            </ng-template>
                        </p-inputnumber>
                    </div>
                    <div style="min-width: 3rem;" class="w-3rem text-blue-400">{{ cartService.getItemTotal(item) |
                        sCurrency }}</div>
                </div>
                <p-button (onClick)="removeItem(item)" icon="pi pi-times" [rounded]="true" [text]="true"
                    severity="danger" />
            </div>
        </div>
        <div class="total">

        <div class="flex justify-between">
            <div class="mb-4 text-surface-400">{{ 'SUB_TOTAL' | translate }}</div>
            <span>{{ cart.subTotal | sCurrency }}</span>
        </div>

        <!-- DELIVERY -->
        <div class="flex justify-between mb-2">
            <div class="mb-4 text-surface-400">{{ 'DELIVERY_SERVICE' | translate }}</div>
            <p-inputnumber
                [(ngModel)]="cart.deliveryAmount"
                [disabled]="!cart.items.length"
                mode="currency"
                currency="USD"
                (onInput)="updateTotals()">
            </p-inputnumber>
        </div>

        <!-- DISCOUNT -->
        <div class="flex justify-between">
            <div class="mb-4 text-surface-400">{{ 'DISCOUNT' | translate }}</div>
            <p-inputnumber
                [(ngModel)]="cart.discount"
                [disabled]="!cart.items.length"
                mode="currency"
                currency="USD"
                (onInput)="updateTotals()">
            </p-inputnumber>
        </div>

        <hr class="border-dashed" />

        <div class="flex justify-between">
            <div class="mb-4 font-bold text-lg">{{ 'TOTAL_AMOUNT' | translate }}</div>
            <span class="text-lg text-primary">
                {{ cart.grandTotal | sCurrency }}
            </span>
        </div>
    </div>
    </div>

    <ng-template #footer>
        <p-button
            *ngIf="!saleToEdit"
            (onClick)="submitOrder()"
            [loading]="orderLoading"
            [style]="{width: '100%'}"
            [label]="'SUBMIT_ORDER' | translate"
            [disabled]="!cart.items.length" />

        <p-button
            *ngIf="saleToEdit"
            (onClick)="editSale()"
            [loading]="orderLoading"
            [style]="{width: '100%'}"
            [label]="'SAVE_CHANGES' | translate"
            [disabled]="!cart.items.length" />
    </ng-template>
</p-card>
<app-customer-create-dialog *ngIf="customerDialog" (visibleChange)="toggleDialog($event)">
</app-customer-create-dialog>