<p-fluid>
    <form (ngSubmit)="submit()" [formGroup]="productForm">
        <div class="flex mt-8">
            <div class="card flex flex-col gap-6 w-full">
                <div class="font-semibold text-xl">{{ getHeader()}}</div>
                <div class="flex justify-center gap-2 w-full" *ngIf="mode==='edit'">
                    <p-galleria [value]="product.basicDetails.productImages" [responsiveOptions]="[]" style="width: 40%;">
                        <ng-template #item let-item>
                            <img [src]="getProductImageSrc(product.productId, item)" style="width: 20rem; display: block;" />
                        </ng-template>
                        <ng-template #thumbnail let-item>
                            <img [src]="getProductImageSrc(product.productId, item)" style="width: 60px; display: block;" />
                        </ng-template>
                        <ng-template #caption let-item>
                            <div class="flex justify-between">
                                <p-button *ngIf="!item.isPrimary" [label]="'SET_IMAGE_PRIMARY' | translate" (onClick)="setImageAsPrimary(item)" text />
                                <p-tag *ngIf="item.isPrimary" [value]="'PRIMARY_IMAGE' | translate" severity="success"/>
                                <p-button icon="pi pi-trash" severity="danger" (onClick)="deleteImage($event, item)" rounded />
                            </div>
                        </ng-template>
                    </p-galleria>
                    <p-fileupload name="files[]" [url]="getUploadPath()"
                    [chooseLabel]="'CHOOSE_FILE' | translate" [cancelLabel]="'CANCEL' | translate" [uploadLabel]="'UPLOAD' | translate"
                    (onUpload)="onUpload($event)" [multiple]="true" accept="image/*" 
                    maxFileSize="10000000" mode="advanced">
                        <ng-template #empty>
                            <div>{{ 'NO_SELECTED_FILE' | translate }}</div>
                        </ng-template>
                        <ng-template #content>
                            <ul *ngIf="uploadedFiles.length">
                                <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
                            </ul>
                        </ng-template>
                    </p-fileupload>
                </div>
                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="productName">{{'PRODUCT_NAME' | translate }}</label>
                        <input pInputText id="productName" type="text" formControlName="productName" />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="barcode">{{'BARCODE' | translate }}</label>
                        <span class="text-muted-color">({{'SCAN_BARCODE_HINT' | translate }})</span>
                        <div class="w-full">
                            <p-iconfield>
                                <p-inputicon styleClass="pi pi-barcode" />
                                <input pInputText id="barcode" type="text" formControlName="barcode" />
                            </p-iconfield>
                        </div>
                    </div>
                </div>
    
                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-col flex-wrap gap-2 w-full">
                        <label for="category">{{'CATEGORY' | translate }}</label>
                        <p-multiselect id="category" [options]="categoryList" [filter]="true" 
                            [emptyMessage]="'NO_DATA' | translate"
                            optionLabel="name" optionValue="productCategoryId" 
                            [placeholder]="'SELECT_FROM_LIST' | translate " selectionLimit="1"
                            formControlName="productCategoryId"
                        />
                    </div>
                    <div class="flex flex-col flex-wrap gap-2 w-full">
                        <label for="brand">{{'BRAND' | translate }}</label>
                        <p-multiselect id="brand" [options]="brandList" [filter]="true" 
                            [emptyMessage]="'NO_DATA' | translate"
                            optionLabel="name" optionValue="productBrandId" 
                            [placeholder]="'SELECT_FROM_LIST' | translate " selectionLimit="1"
                            formControlName="productBrandId"
                        />
                    </div>
                </div>
    
                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="costPrice">{{'COST' | translate }}</label>
                        <p-inputnumber id="costPrice" formControlName="costPrice" mode="currency" currency="USD" showButtons ></p-inputnumber>
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="sellingPrice">{{'PRICE' | translate }}</label>
                        <p-inputnumber id="sellingPrice" formControlName="sellingPrice" mode="currency" currency="USD" showButtons ></p-inputnumber>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-col flex-wrap gap-2 w-full">
                        <label for="productUnit">{{'PRODUCT_UNIT' | translate }}</label>
                        <p-multiselect id="productUnit" [options]="unitList" [filter]="true" 
                            [emptyMessage]="'NO_DATA' | translate"
                            optionLabel="name" optionValue="unitOfMeasureId"
                            [placeholder]="'SELECT_FROM_LIST' | translate " selectionLimit="1"
                            formControlName="unitOfMeasureId"
                        />
                    </div>
                    <div class="flex flex-wrap gap-2 w-full">
                        <label for="quantity">{{'QUANTITY' | translate }}</label>
                        <p-inputnumber id="quantity" formControlName="quantity" showButtons mode="decimal"></p-inputnumber>
                    </div>
                </div>

                <div class="flex flex-col md:flex-row gap-6">
                    <div class="flex flex-col flex-wrap gap-2 w-full">
                        <label for="desc">{{'DESCRIPTION' | translate }}</label>
                        <textarea formControlName="description" pTextarea id="desc" rows="5"></textarea>
                    </div>
                    <div *ngIf="mode==='new'" class="flex flex-col flex-wrap gap-2 w-full">
                        <label for="productImages">{{'PRODUCT_IMAGES' | translate }}</label>
                        <p-fileupload [fileLimit]="5" (onSelect)="handleImageSelection($event)" [showUploadButton]="false"
                            [chooseLabel]="'CHOOSE_FILE' | translate" [cancelLabel]="'CANCEL' | translate"
                            [multiple]="true" accept="image/*" maxFileSize="10000000" mode="advanced">
                            <ng-template #empty>
                                <div>{{ 'NO_SELECTED_FILE' | translate }}</div>
                            </ng-template>
                        </p-fileupload>
                    </div>
                </div>
                <div class="flex flex-col md:flex-row gap-6">
                    <p-button [loading]="loading" type="submit" [label]="'SAVE' | translate" icon="pi pi-check" />
                </div>
            </div>
        </div>
    </form>
</p-fluid>
<p-toast></p-toast>
<p-confirmpopup />

<barcode-scanner-livestream
    [type]="['code_128', 'ean', 'upc']"
    (valueChanges)="onScanBarcodeChanges($event)"
></barcode-scanner-livestream>