<p-toolbar styleClass="mb-6">
    <ng-template #start>
        <div class="flex items-center gap-2">
            <p-button (onClick)="newProduct()" [label]="'ADD' | translate" icon="pi pi-plus" severity="secondary" class="mr-2" />
            <p-button severity="secondary" [label]="'DELETE' | translate" icon="pi pi-trash" outlined (onClick)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length" />
        </div>
    </ng-template>

    <ng-template #end>
        <div class="flex items-center gap-2">
            <p-button [label]="'IMPORT' | translate" icon="pi pi-download" severity="secondary" (onClick)="showImportDialog()" />
            <p-button [label]="'EXPORT' | translate" icon="pi pi-upload" severity="secondary" (onClick)="showExportDialog()" />
        </div>
    </ng-template>
</p-toolbar>

<p-card>
    <p-table
    #dt
    [value]="products"
    [rows]="10"
    [columns]="cols"
    [loading]="loading"
    [globalFilterFields]="['basicDetails.productName']"
    [tableStyle]="{ 'min-width': '75rem' }"
    [(selection)]="selectedProducts"
    [rowHover]="true"
    dataKey="productId"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} products"
    [showCurrentPageReport]="true"
    [rowsPerPageOptions]="[10, 20, 30]">

        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">{{ 'PRODUCT_LIST' | translate }}</h5>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" [placeholder]="'SEARCH_PACEHOLDER' | translate" />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="basicDetails.barcode" style="min-width:10rem">
                    {{ 'BARCODE' | translate }}
                    <p-sortIcon field="barcode" />
                </th>
                <th pSortableColumn="basicDetails.productName" style="min-width:16rem">
                    {{ 'NAME' | translate }}
                    <p-sortIcon field="productName" />
                </th>
                <th>
                    {{ 'IMAGE' | translate }}
                </th>
                <th pSortableColumn="basicDetails.productCategory.name" style="min-width: 8rem">
                    {{ 'CATEGORY' | translate }}
                    <p-sortIcon field="productBrand" />
                </th>
                <th pSortableColumn="basicDetails.productBrand?.name" style="min-width: 8rem">
                    {{ 'BRAND' | translate }}
                    <p-sortIcon field="productBrand" />
                </th>
                <th pSortableColumn="priceDetails.costPrice" style="min-width: 8rem">
                    {{ 'COST' | translate }}
                    <p-sortIcon field="costPrice" />
                </th>
                <th pSortableColumn="priceDetails.sellingPrice" style="min-width: 8rem">
                    {{ 'PRICE' | translate }}
                    <p-sortIcon field="sellingPrice" />
                </th>
                <th style="min-width: 8rem">
                    {{ 'DISCOUNT' | translate }}
                </th>
                <th style="min-width: 8rem">
                    {{ 'PRICE_AFTER_DISCOUNT' | translate }}
                </th>
                <th pSortableColumn="basicDetails.quantity">
                    {{ 'QUANTITY' | translate }}
                    <p-sortIcon field="quantity" />
                </th>
                <th style="min-width: 12rem"></th>
            </tr>
        </ng-template>
        <ng-template #body let-product>
            <tr>
                <td style="width: 3rem">
                    <p-tableCheckbox [value]="product" />
                </td>
                <td (click)="productDetails(product)" class="hover:text-primary hover:underline cursor-pointer min-w-12rem">
                    {{ product.basicDetails.barcode }}
                </td>
                <td (click)="productDetails(product)" class=" hover:underline cursor-pointer" [pTooltip]="product.basicDetails.productName" tooltipPosition="top">
                    {{ product.basicDetails.productName | substring: 'medium' }}
                </td>
                <td>
                    <img class="rounded w-full"
                        [src]="getProductImageSrc(product)"
                        [alt]="product.basicDetails?.productName"
                        style="width: 6rem; height: 4rem; object-fit: cover;" />
                </td>
                <td>{{ product.basicDetails.productCategory?.name }}</td>
                <td>{{ product.basicDetails.productBrand?.name }}</td>
                <td>{{ product.priceDetails.costPrice | sCurrency }}</td>
                <td>{{ product.priceDetails.sellingPrice | sCurrency }}</td>
                <td>
                    <div class="flex items-center gap-2">
                        <div class="text-sm" [ngClass]="{'line-through text-surface-500': (!product.priceDetails.discountDisabled && !product.priceDetails.discountRangeActive)}">
                            {{ getDiscountLabel(product) || ('NO_EXIST' | translate) }}
                        </div>
                        <div *ngIf="!product.priceDetails.discountDisabled">
                            <p-button [pTooltip]="'SHOW_DISCOUNT' | translate" icon="pi pi-eye" class="mr-2" [rounded]="true" [text]="true" (onClick)="editProductDiscount(product)" />
                        </div>
                        <div *ngIf="product.priceDetails.discountDisabled">
                            <p-button [pTooltip]="'ADD_DISCOUNT' | translate" icon="pi pi-percentage" class="mr-2" [rounded]="true" [text]="true" (onClick)="editProductDiscount(product)" />
                        </div>
                    </div>
                </td>
                <td>{{ product.priceDetails.priceWithDiscount | sCurrency }}</td>
                <td>
                    <p-tag [value]="product.basicDetails.quantity" [severity]="getQuantitySeverity(product)" />
                </td>

                <td>
                    <div class="flex gap-2 items-center">
                        <p-button icon="pi pi-pencil" [pTooltip]="'EDIT' | translate" tooltipPosition="top" [rounded]="true" [outlined]="true" (onClick)="onEditProduct(product)" />
                        <p-button icon="pi pi-trash" [pTooltip]="'DELETE' | translate" tooltipPosition="top" severity="danger" [rounded]="true" [outlined]="true" (click)="deleteProduct(product)" />
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator
            (onPageChange)="onPageChange($event)"
            [first]="pageReq.page * pageReq.size"
            [rows]="pageReq.size"
            [totalRecords]="pageDetails?.totalElements || 0"
            [showCurrentPageReport]="true"
            [showJumpToPageDropdown]="false"
            [rowsPerPageOptions]="[10, 20, 50]"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords}" />
</p-card>

<p-confirmdialog [style]="{ width: '450px' }" />
<p-toast></p-toast>

<app-product-discount-create *ngIf="discountDialog" [product]="product"
(success)="discountSuccess($event)"
(visibleChange)="discountDialogToggle($event)">
</app-product-discount-create>

<p-dialog [(visible)]="importDialog" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <h5 class="m-0">{{ 'IMPORT_PRODUCTS' | translate }}</h5>
    </ng-template>
    <div class="p-fluid">
        <p class="mb-4">
            {{ 'IMPORT_INSTRUCTIONS' | translate }}
        </p>
        <!-- Table to display required column names for the import file -->
        <p-table [value]="importColumnsSpec" [tableStyle]="{ 'min-width': '20rem' }">
            <ng-template pTemplate="header">
                <tr>
                    <th>{{ 'COLUMN_NAME' | translate }}</th>
                    <th>{{ 'DATA_TYPE' | translate }}</th>
                    <th>{{ 'OPTIONAL' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-col>
                <tr>
                    <td>{{ col.columnName }}</td>
                    <td>{{ col.dataType | translate }}</td>
                    <td>{{ col.optional ? ( 'YES' | translate) : 'NO' | translate }}</td>
                </tr>
            </ng-template>
        </p-table>
        <!-- File upload input -->
        <div class="mt-4">
            <p-fileupload mode="basic" [chooseLabel]="'CHOOSE_FILE' | translate" chooseIcon="pi pi-upload" name="catImage" accept=".xls,.xlsx" maxFileSize="1000000" (onSelect)="onSelectImportFile($event)" />
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button label="{{ 'CANCEL' | translate }}" icon="pi pi-times" severity="secondary" (onClick)="hideImportDialog()" />
        <p-button label="{{ 'IMPORT' | translate }}" icon="pi pi-check" [disabled]="!selectedImportFile" [loading]="importLoading" severity="primary" (onClick)="confirmImport()" />
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="exportDialog" [modal]="true" [style]="{ width: '40vw' }" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="header">
        <h5 class="m-0">{{ 'EXPORT_PRODUCTS' | translate }}</h5>
    </ng-template>
    <div class="p-fluid">
        <div class="field mb-4">
            <label for="columns" class="font-bold block mb-2">{{ 'SELECT_COLUMNS_TO_EXPORT' | translate }}</label>
            <p-multiSelect
                appendTo="body"
                [options]="exportColumns"
                [(ngModel)]="selectedExportColumns"
                optionLabel="header"
                display="chip"
                placeholder="{{ 'SELECT_COLUMNS_PLACEHOLDER' | translate }}"
                class="multiselect-custom"
            />
        </div>

        <div class="field">
            <label class="font-bold block mb-4">{{ 'EXPORT_TO' | translate }}</label>
            <div class="flex flex-wrap gap-3">
                <div class="flex gap-2 items-center">
                    <p-radioButton name="exportType" value="excel" [(ngModel)]="exportType" inputId="excel" />
                    <label for="excel" class="ml-2">Excel (.xlsx)</label>
                </div>
                <div class="flex gap-2 items-center">
                    <p-radioButton [disabled]="true" name="exportType" value="pdf" [(ngModel)]="exportType" inputId="pdf" />
                    <label for="pdf" class="ml-2">PDF (.pdf)</label>
                </div>
            </div>
        </div>
    </div>
    <ng-template pTemplate="footer">
        <p-button label="{{ 'CANCEL' | translate }}" icon="pi pi-times" severity="secondary" (onClick)="hideExportDialog()" />
        <p-button label="{{ 'EXPORT' | translate }}" icon="pi pi-download" [disabled]="!selectedExportColumns || selectedExportColumns.length === 0" [loading]="exportLoading" severity="primary" (onClick)="confirmExport()" />
    </ng-template>
</p-dialog>